@import "tailwindcss";

html,
body,
#root{
    width:100%;
    height:100%;
}

body{
    margin:0;
    background:#050608;
    color:#fff;
    font-family:Inter,system-ui,sans-serif;
    overflow-x:hidden;
}

/* ===========================
   GRID ANIMATION
=========================== */

@keyframes gridMove{
    from{
        transform:translateY(0);
    }
    to{
        transform:translateY(45px);
    }
}

.animate-grid{
    animation:gridMove 10s linear infinite;
}

/* ===========================
   FLOATING HEXAGONS
=========================== */

@keyframes floatHex{
    0%,100%{
        transform:translateY(0) rotate(0deg);
    }

    50%{
        transform:translateY(-20px) rotate(8deg);
    }
}

.animate-float{
    animation:floatHex 8s ease-in-out infinite;

    clip-path:polygon(
        25% 6.7%,
        75% 6.7%,
        100% 50%,
        75% 93.3%,
        25% 93.3%,
        0 50%
    );
}

/* ===========================
   THREATEYE CUSTOM SCROLLBAR
=========================== */


.no-scrollbar{
    scrollbar-width:none;
}

.no-scrollbar::-webkit-scrollbar{
    display:none;
}
@keyframes logoutPopup {

    0%{
        opacity:0;
        transform:translateY(24px) scale(.88);
        filter:blur(6px);
    }

    60%{
        opacity:1;
        transform:translateY(-6px) scale(1.02);
        filter:blur(0);
    }

    100%{
        opacity:1;
        transform:translateY(0) scale(1);
        filter:blur(0);
    }

}